<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>graph-computation</display-name>
  
  
  <listener>
		<listener-class>com.hpre.biggraph.newextension.LoadConfigListener</listener-class>
	</listener>
  <servlet>
    <servlet-name>GraphService</servlet-name>
    <servlet-class>com.hpre.biggraph.GraphService</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ExtensionService</servlet-name>
    <servlet-class>com.hpre.biggraph.ExtensionService</servlet-class>
  </servlet>

	<listener>
    <listener-class>com.hpre.biggraph.LoadConfigListener</listener-class>
  </listener>
  <servlet-mapping>
    <servlet-name>GraphService</servlet-name>
        <url-pattern>/api/graph_opr</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ExtensionService</servlet-name>
    <url-pattern>/ExtensionService</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>